<!-- Footer -->
<div id="footer-wrapper">
	<div id="footer" class="container">
		<header class="major">
			<h2>Get in Touch</h2>
			<p>Have questions about our courses? Want to join our mailing list?<br />
			We'd love to hear from you!</p>
		</header>
		<div class="row">
			<section class="col-6 col-12-narrower">
				<h3>Contact Information</h3>
				<p>For inquiries and to join our mailing list, please email:<br />
				<strong><a href="mailto:chenjia.gao.18@ucl.ac.uk">chenjia.gao.18@ucl.ac.uk</a></strong></p>
				<p>All courses are free to attend and open to everyone.<br />
				Certificates of participation are provided upon completion.</p>
			</section>
			<section class="col-6 col-12-narrower">
				<h3>About the Program</h3>
				<p>UCL Linguistics Short Courses is a training program organized by UCL Linguistics PhD students, aimed at introducing students of all levels to a broad range of linguistics topics.</p>
				<p>Visit the <a href="https://www.ucl.ac.uk/brain-sciences/pals/research/linguistics">UCL Linguistics</a> department website for more information.</p>
			</section>
		</div>
	</div>
	<div id="copyright" class="container">
		<ul class="menu">
			<li>&copy; UCL Linguistics Short Courses 25/26</li>
			<li>Website Development & Technical Support: <a href="mailto:me@patrickwu.uk">Patrick Wu</a></li>
		</ul>
	</div>
</div>
